.store-text{
    text-align: center;
}
.store-text p{
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
}
.store-text h1{
    font-size: var(--h2-font);
    font-weight: 600;
}
.store-items{
   display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    align-items: center;
    grid-gap: 2rem;
    margin: 70px 0;
}